{% extends 'chat_room.html' %}
{% load static %}

{% block contacts %}
{% endblock %}

{% block card_body %}
<div class="card-header msg_head">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img src="{{receiver.avatar.url}}" class="rounded-circle user_img">
            <span class="online_icon"></span>
        </div>
        <div class="user_info">
            <span>Chat with {{receiver.username}}</span>
        </div>
    </div>
</div>
<!-- card body for messages -->
<div class="card-body msg_card_body" id="card-body">
</div>
<div class="card-footer">
    <div class="input-group">
        <input class="form-control" id="input" type="text"></br>
        <div class="input-group-append">
            <span class="input-group-text send_btn"><i type="" class="fas fa-location-arrow"></i></span>
            <input class="btn btn-secondary btn-lg btn-block submit" id="submit" type="button" value="Send">
        </div>
    </div>
</div>
{% endblock %}

{% block static_js %}
{{ request.user.username|json_script:"user_username" }}
{{ receiver.username|json_script:"receiver" }}
{{ request.user.avatar.url|json_script:"sender_avatar_url" }}
{{ receiver.avatar.url|json_script:"receiver_avatar_url"}}
{{ receiver.id|json_script:"receiver_id"}}
{{ request.user.id|json_script:"sender_id"}}

<script src="{% static 'js/chatroom.js' %}"></script>
{% endblock %}